## Visual Studio / MSBuild
.vs/
bin/
obj/
AppPackages/
BundleArtifacts/
artifacts/
*.user
*.suo
*.nupkg
*.snupkg
*.pfx

## Build logs
*.log
*.binlog
*.etl

## Test results
TestResults/
*.coverage
*.trx
