<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         IgnorableNamespaces="uap mp">
  <Identity Name="BluetoothAudioReveicerDev"
            Publisher="CN=BluetoothAudioReveicer"
            Version="1.1.5.0"
            ProcessorArchitecture="x64" />
  <mp:PhoneIdentity PhoneProductId="6978caf0-7558-46d0-8422-f83f9b0a227e"
                    PhonePublisherId="147c46f1-1429-474f-b4a8-4b108a896b96" />
  <Properties>
    <DisplayName>Bluetooth Audio Receiver (Dev)</DisplayName>
    <PublisherDisplayName>Mark Smirnov</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal"
                        MinVersion="10.0.19041.0"
                        MaxVersionTested="10.0.19041.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-US" />
    <Resource uap:Scale="200" />
  </Resources>
  <Applications>
    <Application Id="App"
                 Executable="$targetnametoken$.exe"
                 EntryPoint="Bluetooth_Audio_Reveicer.App">
      <uap:VisualElements DisplayName="Bluetooth Audio Receiver (Dev)"
                          Square150x150Logo="Assets\Square150x150Logo.png"
                          Square44x44Logo="Assets\Square44x44Logo.png"
                          Description="Bluetooth Audio Receiver Dev Edition"
                          BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"
                         Square71x71Logo="Assets\SmallTile.png"
                         Square310x310Logo="Assets\LargeTile.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <DeviceCapability Name="bluetooth" />
  </Capabilities>
</Package>
